<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Home</a>
Add Company | <a href="/company">Go To Company</a>

<form action="/addCompany" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name"> <br>
    <input type="text" name="size" placeholder="size"> <br>
    <input type="text" name="address" placeholder="address"> <br>
    Image: <input type="file" name="picture">
    <input type="submit" value="Add Company">
</form>

</body>
</html>