<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h3> <header>
        <ul>
            <li>
                <a href="/employeeAdmin">All Employees</a>
            </li>
            <li>
                <a href="/company">All Companies</a>
            </li>
            <li>
                <a href="/employee/add">Add Employees</a><br>
            </li>
            <li>
                <a href="/addCompany">Add Companies</a><br>
            </li>
            <li>
                <a href="/">Home</a><br>
            </li>
            <li>
                <a href="/logout">Logout</a><br>
            </li>
        </ul>
    </header></h3>


</div>

</body>
</html>