<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Index</title>

</head >
<body  style="background-image: url('/img/companies.jpg')">

<div class="container">


  <h3> <header>
        <ul>
            <li>
                <a href="/loginPage">Login</a>
            </li>
            <li>
                <a href="/company">Company</a>
            </li>
            <li>
                <a href="/employee">Employee</a><br>
            </li>
            <li>
                <a href="/adminPanel">Admin Panel</a><br>
            </li>

        </ul>
    </header></h3>


</div>
</body>
</html>